{% extends 'base.html' %}
{% block content %}
<h2>Edit Extra Curricular Activity</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.category.label }} {{ form.category(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.due_date.label }} {{ form.due_date(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
