{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
<h1>How to Use the Homework Tracker (User Documentation For Users)</h1>

<h6>How To Register:</h6>
<ul>
  <li>The first step to being able to use the Homework Tracker is to click on Get Started and Register with the instructions given in the app by giving your email address, username and passwords.</li>
</ul>

<h6>How To Login</h6>
<ul>
  <li>Upon completion of registration, the next step is to go to the login link that will be right below the registration, and then use your login credentials that you used for registration on the login page to login and begin the experience of the Tracker App.</li>
</ul>

<h6>How To Logout</h6>
<ul>
  <li>Once you login, you will see a bunch of navigation bars on the top of the page where there will be an option to logout if you would like to logout, just click on it and then you’ll be logged out.</li>
</ul>

<h6>How To Remember Me</h6>
<ul>
  <li>Upon logging in there will be a box that shows Remember Me, you can use that to keep your account saved.</li>
</ul>

<h6>How To Reset Password</h6>
<ul>
  <li>Right below the login page, there will be a link called Forgot Password, just click on it to reset your credentials.</li>
</ul>

<h6>How To Add Assignments</h6>
<ul>
  <li>Once you are logged in and want to add assignments to either your Homework Assignments or your Extracurricular Assignments just go to either one of those pages (look at the top and click on “Add Homework” for instance) and then fill in the boxes to add your first assignment.</li>
</ul>

<h6>How To Edit And Delete Assignments</h6>
<ul>
  <li>Just below the Add Homework part in your “Add Homework” page for instance, there will be a section titled “Your Homework” in the “Add Homework” page where you can edit your assignments. This is the same for editing your extracurricular assignments, just look at the section below your “Add Extracurricular” page titled “Your Extracurricular Activities” for editing your assignments. On both sections of “Add Homework” and “Add Extracurricular” you can also delete your assignments by just clicking on the red colored delete button. This will help you ensure that once your assignment is completed you can just delete it.</li>
</ul>

<h6>How To See All Assignments</h6>
<ul>
  <li>Click on the page on the top that says “All Assignments” to see all of your assignments for both Homework and Extracurricular.</li>
</ul>

<h6>How To Easily Track Assignments</h6>
<ul>
  <li>Use the CMD+F shortcut on either “Homework List” or “Extracurricular List” and then search for whatever you want for instance type Science and then all your assignments with Science on that page will be highlighted (aligns with the clients’ special demand of making it simplistic at times)</li>
</ul>

<h6>How To See Homework List</h6>
<ul>
  <li>Click on the page on the top that says “Homework List” to see all of your Homework Assignments with the specificities (shows title, due date, category and description if added)</li>
</ul>

<h6>How To See Extracurricular List</h6>
<ul>
  <li>Click on the page on the top that says “Extracurricular List” to see all of your Extracurricular Assignments with the specificities (shows title, due date, category and description if added)</li>
</ul>

<h6>How To See User Documentation/Help On The App</h6>
<ul>
  <li>Just click on the page that says “Help” to see all the information you need to know.</li>
</ul>

<h6>Why You Might Not Be Able To Add An Assignment</h6>
<ul>
  <li>This is due to user form validation, so, in order to add an Assignment you need to have a title, category and a due date and description is optional. This is applicable for both Extracurricular and Homework assignments.</li>
</ul>

<h6>How To Contact</h6>
<ul>
  <li>For questions or issues, contact the developer (me) on: pgandhi2022@ash.nl</li>
</ul>
{% endblock %}
